<!-- <div class="myDiv primary" id="red">Hello bootstrap</div>
<div class="myDiv danger" id="green">Hello bootstrap</div>
<hr>
<div class="myDiv bg-primary">Hello bootstrap</div>
<div class="myDiv bg-secondary">Hello bootstrap</div>
<div class="myDiv bg-success">Hello bootstrap</div>
<div class="myDiv bg-danger">Hello bootstrap</div>
<div class="myDiv bg-warning">Hello bootstrap</div>
<hr>
<div class="myDiv bg-info">Hello bootstrap</div>
<div class="myDiv bg-light text-dark">Hello bootstrap</div>
<div class="myDiv bg-dark">Hello bootstrap</div>
<div class="myDiv bg-white text-dark">Hello bootstrap</div>
<div class="myDiv bg-transparent text-dark">Hello bootstrap</div>
 -->

<app-navbar></app-navbar>
<router-outlet></router-outlet>


